/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #1E1E1E;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;
  --vt-c-green: #2B5341;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-green: var(--vt-c-green);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: var(--vt-c-white);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.4;
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.container {
  padding-left: 9.5rem;
  padding-right: 9.5rem;
  max-width: 100%;
}

img {
max-width: 100%;
max-height: 100%;
width: auto;
height: auto;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Montserrat', sans-serif;;
font-weight: 400;
line-height: 100%;
margin-top: 0;
margin-bottom: 15px;
color: var(--vt-c-white);
}

.h1,
h1 {
	font-size: 5rem;
}

.h2,
h2 {
	font-size: 3.94rem;
}

.h3,
h3 {
	font-size: 2.75rem;
}

.h4,
h4 {
	font-size: 2.5rem;
}

.h5,
h5 {
	font-size: 2rem;
}

.h6,
h6 {
	font-size: 1.25rem;
}

body p:last-child {
    margin-bottom: 0;
}

a {
	color: var(--vt-c-white);
    text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:hover,
a:focus {
	color: var(--vt-c-white);
	text-decoration: none;
}

a,
input[type="submit"],
input[type="button"],
button {
	outline: 0 none;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

[type="search"] {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

form input[type="text"], 
form input[type="text"]:focus, 
form input[type="email"],
form input[type="email"]:focus {
  font-size: 1rem;
  height: 62px;
  border-radius: 6px;
  border: 1px solid #3A3A3A;
  background-color: #171715;
  box-shadow: none;
  padding: 28px 16px 12px;
  color: #EEECEC;
  line-height: 1.4;
  width: 100%;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

form .form-control.error,
form .form-control.error:focus {
  border-color: #D41C3D;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #EEECEC;
}
input::-moz-placeholder { /* Firefox 19+ */
	color: #EEECEC;
}
input:-ms-input-placeholder { /* IE 10+ */
	color: #EEECEC;
}
input:-moz-placeholder { /* Firefox 18- */
	color: #EEECEC;
}

/* button css start */
.btn {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  padding: 16px 35px;
  border-radius: 6px;
  transition: 0.5s all ease-in-out;
}
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-check:active+.btn-primary:focus, 
.btn-check:checked+.btn-primary:focus, 
.btn-primary.active:focus, 
.btn-primary:active:focus, 
.show>.btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-primary {
  color: #EEECEC;
  background: linear-gradient(135deg, #370C14 0%, #280C23 100%);
  border-color: #D41C3D;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, #D41C3D, #861B83);
}
.btn-primary:active, 
.btn-primary:focus,
.btn-primary:hover {
  color: #EEECEC;
  background: linear-gradient(135deg, #62051C 0%, #440C3A 100%);
  border-color: #861B83;
}
.btn-secondary {
  color: #EEECEC;
  background: linear-gradient(135deg, #62051C 0%, #440C3A 100%);
  border-color: #861B83;
}
.btn-secondary:focus,
.btn-secondary:hover {
  color: #EEECEC;
  background: linear-gradient(135deg, #370C14 0%, #280C23 100%);
  border-color: #D41C3D;
}
/* button css start */