@import './base.css';

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../fonts/Montserrat-Bold.woff') format('woff'),
      url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../fonts/Montserrat-Regular.woff') format('woff'),
      url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../fonts/Montserrat-Medium.woff') format('woff'),
      url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Light.woff2') format('woff2'),
      url('../fonts/Montserrat-Light.woff') format('woff'),
      url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../fonts/OpenSans-Bold.woff') format('woff'),
      url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Light.woff2') format('woff2'),
      url('../fonts/OpenSans-Light.woff') format('woff'),
      url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff'),
      url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Medium.eot');
  src: url('../fonts/OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Medium.woff2') format('woff2'),
      url('../fonts/OpenSans-Medium.woff') format('woff'),
      url('../fonts/OpenSans-Medium.svg#OpenSans-Medium') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
a:hover {
  color: hsla(160, 100%, 37%, 0.2);
}

/* Header css start */
header {
  padding: 50px 0 25px;
}
/* Header css end */


/* Main page content css start  */
.wrapper {
  padding: 0 0 100px;
  overflow: hidden;
}
.sub-title {
  border-radius: 15px;
  background-color: var(--color-background-green);
  font-size: 12px;
  display: inline-block;
  line-height: 12px;
  letter-spacing: 2px;
  font-family: 'Open Sans';
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 16px;
}
.title {
  margin-bottom: 30px;
}

/* Signup form css start */
.sign-up-form {
  max-width: 440px;
  z-index: 3;
}
.form-control-wrap {
  position: relative;
  margin-bottom: 15px;
}
.form-control-wrap:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  background-image: url('../images/mail-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.sign-up-form form input[type="email"] {
  padding-right: 40px;
}
.form-control-wrap label {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.form-control:focus ~ label,
.form-control:not(:valid):not(:placeholder-shown) + label {
    top: 12px;
    bottom: 0px;
    left: 16px;
		font-size: 12px;
    color: #3A3A3A;
}
label#error-msg {
  display: none;
  color: #D41C3D;
}
label#placeholder {
  display: block;
}
.form-button {
  border-radius: 6px;
  display: inline-block;
  overflow: hidden;
  border: 1px solid transparent;
}
.form-button:before {
  content: '';
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit; 
  background: linear-gradient(135deg, #D41C3D 0%, #861B83 100%);
}
.form-button .btn-primary {
  border: none;
  margin: 1px;
}
/* Signup form css end */

/* Carousel css start */
.carousel-wrap {
  text-align: right;
}
.carousel {
    position: relative;
    display: inline-block;
}
.iphone-image-wrap {
  /* width: 539px; */
  position: relative;
}
.iphone-image-wrap:before {
  content: "";
  position: absolute;
  left: -100px;
  right: -100px;
  top: -100px;
  bottom: -100px;
  display: block;
  background-image: url('../images/ambient-background.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.iphone-image,
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-carousel {
  position: absolute;
  top: 180px;
  left: 20px;
  right: 0;
  width: calc(100% - 40px);
  width: 500px;
}
.swiper.thumbs-swiper {
  position: absolute;
  left: 24px;
  top: 755px;
  width: 65px;
  overflow: visible;
}
.fe-test-assets {
  position: absolute;
  bottom: 280px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}
.swiper-pagination {
  position: absolute;
  bottom: -155px;
  z-index: 1;
  display: flex;
  justify-content: center;
  left: 95px;
}
.swiper-pagination-bullet {
  width: 55px;
  display: inline-block;
  height: 2px;
  background: #3A3A3A;
  margin-right: 8px;
  position: relative;
}
.swiper-pagination-bullet:after {
  content: "";
  position: absolute;
  bottom: 0;
  left:  0;
  z-index: 2;
  width: 0%;
  height: 2px;
  background-color: #fff;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active:after {  
      animation-name: countingBar;
      animation-duration: 8s;
      animation-timing-function: ease-in;
      animation-iteration-count: 1;
      animation-direction: alternate ;
      animation-fill-mode:forwards;
}
@keyframes countingBar {
  0% {width: 0;}
  100% {width:100%;}
}
.swiper-pagination-bullet:last-child {
  margin-right: 0px;
}
.swiper-slide {
  opacity: 0;
}
.swiper-slide.swiper-slide-active {
  animation: fadeIn 8s;
  -webkit-animation: fadeIn 8s;
  -moz-animation: fadeIn 8s;
  -o-animation: fadeIn 8s;
  -ms-animation: fadeIn 8s;
  /* opacity: 1;
  transition: opacity 0.8s ease-in-out; */
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.swiper {
  overflow: visible;
  background-color: black;
}
.swiper-button-prev {
  display: none;
}
.swiper-button-next {
  width: 70px;
  height: 70px;
  background-color: #fff;
  left: 172px;
  top: 638px;
  opacity: 0 !important;
  pointer-events: auto !important;
  cursor: pointer !important;
  z-index: 1;
}
/* Carousel css start */

/* Main page content css end  */

/* Thank you page css start */
.thank-you-page {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.thank-you-page h5 {
  line-height: 1.5;
  margin-bottom: 0;
}
.thank-you-page p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
/* Thank you page css end */


/************************************ RESPONSIVE CSS START  ************************************/
@media only screen and (max-width: 1920px) {
  .iphone-image-wrap {
    width: 450px;
  }
  .swiper-carousel {
    top: 155px;
    left: 18px;
    width: calc(100% - 35px);
  }
  .swiper-carousel {
    top: 155px;
    left: 18px;
    width: calc(100% - 35px);
  }
  .fe-test-assets {
    bottom: 225px;
  }
  .swiper.thumbs-swiper {
    top: 620px;
    left: 15px;
  }
  .swiper-pagination {
    bottom: -130px;
    left: 70px;
  }
}

@media only screen and (max-width: 1600px) {
  .iphone-image-wrap {
    width: 350px;
  }
  .swiper-carousel {
    top: 120px;
    left: 12px;
    width: calc(100% - 25px);
  }
  .swiper.thumbs-swiper {
    top: 480px;
    left: 10px;
  }
  .swiper-pagination {
    bottom: -100px;
    left: 35px;
  }
  .fe-test-assets {
    bottom: 185px;
  }
  .swiper-button-next {
    width: 55px;
    height: 55px;
    left: 135px;
    top: 502px;
  }
  
}

@media only screen and (max-width: 1199px) {

  .h1,
  h1 {
    font-size: 3rem;
  }

  .h2,
  h2 {
    font-size: 2.5rem;
  }

  .h3,
  h3 {
    font-size: 2.2rem;
  }

  .h4,
  h4 {
    font-size: 2rem;
  }

  .h5,
  h5 {
    font-size: 1.5rem;
  }

  .h6,
  h6 {
    font-size: 1rem;
  }
  header {
    padding: 25px 0;
  }
  .container {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container > .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .sign-up-form {
    max-width: 440px;
    margin: 0 auto;
  }
  .carousel-wrap {
    text-align: center;
    margin-top: 30px;
  }
  .iphone-image-wrap:before {
    left: -10px;
    right: -10px;
    top: -30px;
    bottom: -30px;
  }
}
/************************************ RESPONSIVE CSS end  ************************************/

/* 

font-family: 'Open Sans';
font-family: 'Montserrat', sans-serif; 

Light: 300
Regular: 400
Medium: 500
Bold: 700

*/