@import './base.css';

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../fonts/Montserrat-Bold.woff') format('woff'),
      url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../fonts/Montserrat-Regular.woff') format('woff'),
      url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../fonts/Montserrat-Medium.woff') format('woff'),
      url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Light.woff2') format('woff2'),
      url('../fonts/Montserrat-Light.woff') format('woff'),
      url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../fonts/OpenSans-Bold.woff') format('woff'),
      url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Light.woff2') format('woff2'),
      url('../fonts/OpenSans-Light.woff') format('woff'),
      url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff'),
      url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Medium.eot');
  src: url('../fonts/OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Medium.woff2') format('woff2'),
      url('../fonts/OpenSans-Medium.woff') format('woff'),
      url('../fonts/OpenSans-Medium.svg#OpenSans-Medium') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
a:hover {
  color: hsla(160, 100%, 37%, 0.2);
}

/* Header css start */
header {
  padding: 50px 0 25px;
}
/* Header css end */


/* Main page content css start  */
.wrapper {
  padding: 0 0 100px;
}
.sub-title {
  border-radius: 15px;
  background-color: var(--color-background-green);
  font-size: 12px;
  display: inline-block;
  line-height: 12px;
  letter-spacing: 2px;
  font-family: 'Open Sans';
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 16px;
}
.title {
  margin-bottom: 30px;
}
.sign-up-form {
  max-width: 440px;
}
.form-control-wrap {
  position: relative;
  margin-bottom: 15px;
}
.form-control-wrap:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  background-image: url('../images/mail-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.sign-up-form form input[type="email"] {
  padding-right: 40px;
}
.form-control-wrap label {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
}
.form-button {
  border-radius: 6px;
  display: inline-block;
  overflow: hidden;
  /* border: 1px solid transparent; */
}
/* .form-button:before {
  content: '';
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit; 
  background: linear-gradient(135deg, #D41C3D 0%, #861B83 100%);
} */
.form-button .btn-primary {
  border: none;
}
.carousel {
    position: relative;
    display: inline-block;
}
.swiper-carousel {
  position: absolute;
  top: 117px;
  left: 14px;
  right: 0;
  width: 306px;
}
.swiper.thumbs-swiper {
  position: absolute;
  left: 13px;
  bottom: -90px;
  width: 40px;
  overflow: visible;
}
.fe-test-assets {
  position: absolute;
  bottom: 180px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}
.swiper.thumbs-swiper .swiper-slide {
  width: 40px !important;
}
.swiper-pagination {
  position: absolute;
  bottom: -105px;
  z-index: 1;
  display: flex;
  justify-content: center;
  left: 25px;
}
.swiper-pagination-bullet {
  width: 55px;
  display: inline-block;
  height: 1px;
  background: #3A3A3A;
  margin-right: 8px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
.swiper-pagination-bullet:last-child {
  margin-right: 0px;
}
/* Main page content css end  */



/* 

font-family: 'Open Sans';
font-family: 'Montserrat', sans-serif; 

Light: 300
Regular: 400
Medium: 500
Bold: 700

*/